
td, th {
    border: 1px solid #dddddd;
    text-align: center;
}

  /* .table-wrapper {
    overflow: auto;
    height:700px;
  } */

  .table-wrapper tbody {
    display:block;
    max-height:650px;
    overflow:auto; 
  }

tbody {
    display:block;
    max-height:700px;
    overflow:auto;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}

  /* tr.row1 td {
    border: 0;
  } */
  
  /* tr:nth-child(even) {
    background-color: #dddddd;
  } */