
td, th {
    border: 1px solid #dddddd;
    text-align: center;
}

  .table-wrapper tbody {
    display:block;
    max-height:68vh;
    overflow:auto; 
  }

  .table-wrapper tbody tr{
    display:table;
    width:100%;
    table-layout:fixed;
  }


/* tbody {
    display:block;
    max-height:700px;
    overflow:auto;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
} */


  #header-table{
    margin-bottom: 0rem;
  }

  #inner-table-wrapper{
    max-height:77vh;
    overflow:auto; 
  }

  #inner-table-wrapper td,th{
    max-width:20px;
  }

  /* #header-table thead{
    display:table;
    width:100%;
    table-layout:fixed;
  } */

  /* tr.row1 td {
    border: 0;
  } */
  
  /* tr:nth-child(even) {
    background-color: #dddddd;
  } */